<section class="bg-wight small-padding" id="Events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recent Events and Videos</h2>
                <hr class="primary">
            </div>
        </div>
        
        <div class="row">
        <ul>
            <li><p class="text-lg-start"><b>[2021.11]</b> APSIPA Distinguished Lecture 1: Neuroscience-Inspired Sound and Music Computing (SMC) for Bilingualism and Human Potential – Wang Ye [<a href="video_page#APSIPA">video</a>]</p></li>

            <li><p class="text-lg-start"><b>[2021.11]</b> NUS Sound and Music Computing Lab Showcase at ISMIR 2021 [<a href="video_page#ISMIR21Panel">video</a>]</p></li>

            <li><p class="text-lg-start"><b>[2021.11]</b> Special Session on MIR for Human Health and Potential at ISMIR2021 [<a href="video_page#Showcase">video</a>]</p></li>

            <li><p class="text-lg-start"><b>[2021.08]</b> Wang, Y., Keynote Speech at Computing Research Week Aug 2021, “Music &amp; Wearable Computing for Health and Learning: a Decade-long Exploration on a Neuroscience-inspired Interdisciplinary Approach”, National University of Singapore. [<a href="files/pdf/2021/YeWang_CS_ResearchWeek2021_keynotes_final.pdf" target="_blank">slides</a>] [<a href="video_page#Keynote202108">video</a>]</p></li>
        
        
        </ul>
        </div>
    </div>
</section>


