<section class="bg-wight small-padding" id="Events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recent Events and Videos</h2>
                <hr class="primary">
            </div>
        </div>
        
        <div class="row">
        <ul>

            <li><p><b>[2026.01]</b> <em>Making LLMs Listen, Speak, and Think: A Journey to End-to-End Speech Language Models</em>, Research talk by Prof Hung-Yi Lee. [<a href="video_page#hungyilee2026" target="_blank">video</a>]</p></li>

            <li><p><b>[2026.01]</b> <em>Advancing AI for Disordered Speech: Assessment, Accessibility, and Articulation</em>, Research talk by Prof. Chi-Chun Lee. [<a href="video_page#jeremeylee2026" target="_blank">video</a>]</p></li>

            <li><p><b>[2025.11]</b> <em>Sound and Music Computing for Human Health and Potential</em> (SMC4HHP) Theme Seminar & Concert Event. [<a href="/seminar_concert_2025" target="_blank">event page</a>]</p></li>

            <li><p><b>[2025.05]</b> CS4347/5647 Lecture Recording on Text-to-Speech (TTS) and Singing Voice Synthesis (SVS). [<a href="video_page#tts2025" target="_blank">video</a>]</p></li>

            <li><p><b>[2025.05]</b> CS4347/5647 Lecture Recording on Automatic Music Generation (AMG). [<a href="video_page#amg2025" target="_blank">video</a>]</p></li>

            <li><p><b>[2025.05]</b> CS4347/5647 Lecture Recording on Automatic Music Transcription (AMT). [<a href="video_page#amt2025" target="_blank">video</a>]</p></li>

            <li><p><b>[2025.05]</b> CS4347/5647 Lecture Recording on Automatic Speech Recognition (ASR). [<a href="video_page#asr2024" target="_blank">video</a>]</p></li>

            <li><p><b>[2025.04]</b> Speech and Music AI: Current Research Frontier Workshop at NUS. [<a href="/iclr_speech_music_ai_workshop_2025" target="_blank">event page</a>]</p></li>

            <li><p><b>[2023.09]</b> Music Recommender System Workshop at NUS. [<a href="/music_recommender_system_workshop_2023" target="_blank">event page</a>]</p></li>

        
        </ul>
        </div>
    </div>
</section>


