<section class="bg-wight small-padding" id="Opportunity">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Job Opportunities</h2>
                <hr class="primary">
            </div>
        </div>

    <div class="row">
        <div class="text-lg-start">
            <p class="text-center">
                Multiple Research positions (RF, RA, PhD scholarships) available at NUS Sound and Music Computing Lab!
            </p>

            <p class="text-justify">
                The National University of Singapore (NUS) Sound and Music Computing Lab is pursuing research in Sound and Music Computing for Human Health and Potential (SMC4HHP) and has multiple research positions (RF, RA, PhD scholarships) available. We are currently seeking <b>two full-time Postdoctoral Research Fellows</b> in automatic lyrics generation and automatic singing voice/speech evaluation. [<a href="postdoct_job_description_2022" style="color:#031d83;"  target="_blank"><em>Here is a detailed job description</em></a>].
            </p>
        </div>
    </div>
    
    </div>
</section>
