<section class="bg-wight small-padding" id="Opportunity">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Job Openings</h2>
                <hr class="primary">
            </div>
        </div>

    <div class="row">
        <div class="text-lg-start">
            <!--<p class="text-center">
                Multiple Research positions (RF, RA, PhD scholarships) available at NUS Sound and Music Computing Lab!
            </p>-->

            <p class="text-justify">
                The National University of Singapore (NUS) Sound and Music Computing Lab is pursuing research in Sound and Music Computing for Human Health and Potential (SMC4HHP) and has multiple research positions (RF, RA, PhD scholarships) available.
            </p>

            <ul>
                <li><p class="text-justify">We are seeking both RAs and RFs on the topic of <b>AI supported language learning</b> which includes <b>A1)</b> <em>HCI/intelligent user interface</em>, <b>A2)</b> <em>Speech and singing voice analysis/synthesis</em>, and <b>A3)</b> <em>Generative AI/LLM based chatbot</em>. [<a href="opportunities_AI_supported_language_Learning" style="color:#031d83;"  target="_blank"><em>Here is a detailed job description</em></a>]</p></li>
        
            </ul>


        </div>
    </div>
    
    </div>
</section>
