<section class="bg-wight small-padding" id="Publication">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Selected Publication</h2>
                <hr class="primary">
            </div>
        </div>

    <div class="row">
        <div class="text-lg-start">
        <p class="text-center">[<a href="full_publication_list" style="color:#031d83;"  target="_blank"><em>see FULL publication list</em></a>]</p></div>
    </div>
    

    <div class="row">
        <div class="text-lg-start">
        <h2 class="section-heading text-uppercase">2023</h2></div>
    </div>
    <div class="row">
        <ul>

            <li><p class="text-align">Liu. H., and Wang Y., (2023, December). <a href="archive/pdf/2023/2023_AICL_camera_ready.pdf" target="_blank">"Towards Informative Few-Shot Prompt with Maximum Information Gain for In-Context Learning"</a>, in <em>the 2023 Conference on Empirical Methods in Natural Language Processing (<b>EMNLP 2023</b>)</em>.</p></li>

            <li><p class="text-align">Wang, Y., Wei W., Gu, X., Guan, X., and Wang, Y., (2023). <a href="archive/pdf/2023/2023_TASLP_PMD_CameraReady.pdf" target="_blank">Disentangled Adversarial Domain Adaptation for Phonation Mode Detection in Singing and Speech</a>. <em>IEEE/ACM Transactions on Audio, Speech, and Language Processing (DOI: 10.1109/TASLP.2023.3317568)</em>.</p></li>
            
            <li><p class="text-align">Gu, X., Zeng, W., and Wang, Y., (2023, October). <a href="archive/pdf/2023/2023_ACM_MM2023_Fairness_Singing_camera_ready.pdf" target="_blank">Elucidate Gender Fairness in Singing Voice Transcription</a>, in <em>2023 ACM Multimedia Conference (<b>MM'23</b>)</em>.</p></li>

            <li><p>Liu, H., Shi, M., and Wang, Y., (2023, August). <a href="archive/pdf/2023/2023_Interspeech_zero_shot_speech_assessment.pdf" target="_blank">Zero-Shot Automatic Pronunciation Assessment</a>, in <em>the 19th Annual Conference of the International Speech Communication Association (<b>Interspeech 2023</b>)</em>.</p></li>

            <li><p>Zhao, J., Xia, G., and Wang, Y., (2023, August). <a href="archive/pdf/2023/2023_IJCAI_music_rearrangement.pdf" target="_blank">Q&A: Query-Based Representation Learning for Multi-Track Symbolic Music re-Arrangement</a>, in <em> Proceedings of the 32nd International Joint Conference on Artificial Intelligence (<b>IJCAI 2023</b>)</em>. [<a href="https://github.com/zhaojw1998/Query-and-reArrange" target="_blank" style="color:#031d83;">code</a>] [<a href="https://zhaojw1998.github.io/Query_and_reArrange" target="_blank" style="color:#031d83;">demo</a>] [<a href="https://colab.research.google.com/drive/1N3XeEfTCWNLTuBp9NWPwzW-hq7Ho7nQA?usp=sharing" target="_blank" style="color:#031d83;">colab notebook</a>]</p></li>

            <li><p>Ou, L., Ma, X., Kan, M. Y., and Wang, Y., (2023, July). <a href="archive/pdf/2023/2023_ACL_Lyric_Translation.pdf" target="_blank">Songs Across Borders: Singable and Controllable Neural Lyric Translation</a>, in <em>Proceedings of the 61st Annual Meeting of the Association for Computational Linguistics (<b>ACL 2023</b>)</em>. [<a href="https://github.com/Sonata165/ControllableLyricTranslation" target="_blank" style="color:#031d83;">code</a>] [<a href="https://www.oulongshen.xyz/lyric_translation" target="_blank" style="color:#031d83;">demo</a>]</p></li>

            <li><p>Wang, Y., Wei, W., and Wang, Y., (2023, June). <a href="archive/pdf/2023/2023_ICASSP_phonation_mode.pdf" target="_blank">Phonation Mode Detection in Singing: A Singer Adapted Model</a>, in <em>ICASSP 2023-2023 IEEE International Conference on Acoustics, Speech and Signal Processing (<b>ICASSP 2023</b>)</em>. IEEE.</p></li>

            <li><p class="text-align">Dai, S., Ma, X., Wang, Y. and Dannenberg, R. B. (2023). <a href="https://arxiv.org/abs/2105.04709" target="_blank">Personalized Popular Music Generation Using Imitation and Structure</a>. <em>Journal of New Music Research</em>, pp.1-17.</p></li>
        </ul>
    </div>


    <div class="row">
        <div class="text-lg-start">
        <h2 class="section-heading text-uppercase">2022</h2></div>
    </div>
    <div class="row">
    <ul>
        <li><p class="text-align">Wei, W.*, Huang, H.*, Gu, X., Wang, H., and Wang, Y., (2022). <a href="archive/pdf/2022/2022_TMLR_camera_ready.pdf" target="_blank">Unsupervised Mismatch Localization in Cross-Modal Sequential Data with Application to Mispronunciations Localization</a>. <em>Transactions on Machine Learning Research</em> (12/2022).</p></li>

        <li><p class="text-align">Wu, X.*, Huang, H.*, Ding, Y., Wang, H., Wang, Y., and Xu, Q., (2023, February). <a href="archive/pdf/2022/2022_AAAI2023_FedNP_hengguan.pdf" target="_blank">FedNP: Towards Non-IID Federated Learning via Federated Neural Propagation</a>, in <em>Proceedings of the Thirty-Seventh AAAI Conference on Artificial Intelligence (<b>AAAI 2023</b>)</em>. [<a href="https://youtu.be/D0HgEEULLlQ" target="_blank" style="color:#031d83;">video</a>]</p></li>

        <li><p class="text-align">Huang, H., Gu, X., Wang H., Xiao C., Liu H., and Wang, Y., (2022, December). <a href="archive/pdf/2022/2022_ECBNN_full.pdf" target="_blank">Extrapolative Continuous-time Bayesian Neural Network for Fast Training-free Test-time Adaptation</a>, in <em>Proceedings of Advances in Neural Information Processing Systems 35: Annual Conference on Neural Information Processing Systems 2022 (<b>NeurIPS 2022</b>)</em>. [<a href="https://recorder-v3.slideslive.com/?share=76177&s=cd597422-3109-42f3-9072-dfef5c351a4d" target="_blank" style="color:#031d83;">video</a>]</p></li>

        <li><p class="text-align">Ou, L.*, Gu, X.*, and Wang, Y., (2022, December). <a href="archive/pdf/2022/2022_ALT_ISMIR_2022_Camera_ready 8.23.pdf" target="_blank">Transfer Learning of wav2vec 2.0 for Automatic Lyric Transcription</a>, in <em>Proceedings of the 23rd International Society for Music Information Retrieval Conference (<b>ISMIR 2022</b>)</em>.</p></li>

        <li><p class="text-align">Ma, X., Liu, X., Zhang, B., and Wang, Y., (2022, December). <a href="archive/pdf/2022/2022_Robust_Melody_Track_Identification_in_Symbolic_Music_Camera Ready.pdf" target="_blank">Robust Melody Track Identification in Symbolic Music</a>, in <em>Proceedings of the 23rd International Society for Music Information Retrieval Conference (<b>ISMIR 2022</b>)</em>.</p></li>

        <li><p class="text-align">Zhao, J., Xia, G., and Wang, Y., (2022, December). <a href="archive/pdf/2022/2022_Beat Transformer.pdf" target="_blank">Beat Transformer: Demixed Beat and Downbeat Tracking with Dilated Self-Attention</a>, in <em>Proceedings of the 23rd International Society for Music Information Retrieval Conference (<b>ISMIR 2022</b>)</em>. [<a href="https://github.com/zhaojw1998/Beat-Transformer" target="_blank" style="color:#031d83;">code</a>] [<a href="https://colab.research.google.com/drive/1IdrpMO1AivWmy-Bm8ktmMy14ED9jllux?usp=sharing" target="_blank" style="color:#031d83;">colab notebook</a>] [<a style="color:#031d83;" href="https://zhaojw1998.github.io/presentation_page#Beat-Transformer" target="_blank">video</a>]</p></li>

        <li><p class="text-align">Zhao, J., Xia, G., and Wang, Y., (2022, December). <a href="archive/pdf/2022/2022_Adversarial VAE.pdf" target="_blank">Domain Adversarial Traning on Conditional Variational Auto-Encoder for Controllable Music Generation</a>, in <em>Proceedings of the 23rd International Society for Music Information Retrieval Conference (<b>ISMIR 2022</b>)</em>. [<a href="https://github.com/zhaojw1998/DAT-CVAE" target="_blank" style="color:#031d83;">code</a>] [<a href="https://zhaojw1998.github.io/DAT_CVAE" target="_blank" style="color:#031d83;">demo</a>] [<a style="color:#031d83;" href="https://zhaojw1998.github.io/presentation_page#DAT-CVAE" target="_blank">video</a>]</p></li>

        <li><p class="text-align">Gu, X.*, Ou, L.*, Ong, D., and Wang, Y., (2022, October). <a href="archive/pdf/2022/2022_ACM_MM_MM-ALT.pdf" target="_blank">MM-ALT: A Multimodal Automatic Lyric Transcription System</a>, in <em>2022 ACM Multimedia Conference (<b>MM’22</b>)</em>. (<b><em>Top Paper Award</em></b>) [<a href="https://n20em.github.io/" target="_blank" style="color:#031d83;">demo</a>]</p></li>

        <li><p class="text-align">Ma, X., Wang, Y., and Wang, Y., (2022, October). <a href="archive/pdf/2022/2022_ACM_MM_User_Preference_Modeling.pdf" target="_blank">Content based User Preference Modeling in Music Generation</a>, in <em>2022 ACM Multimedia Conference (<b>MM’22</b>)</em>. [<a href="archive/demo/stan/2022_MusicRx-C_Badinerie_music_generated_0.6_0.6_0.6_0.6.mp3" target="_blank" style="color:#031d83;">demo 1</a>] [<a href="archive/demo/stan/2022_MusicRx-C_Imagine_music_generated_100_0.6_0.6_1.0_0.6.mp3" target="_blank" style="color:#031d83;">demo 2</a>]</p></li>

        <li><p>Ou, L., Guo, Z., Benetos, E., Han, J., &amp; Wang, Y. (2022, May). <a href="archive/pdf/2022/2022_ICASSP_APT.pdf" target="_blank">Exploring Transformer’s Potential on Automatic Piano Transcription</a>, in <em>ICASSP 2022-2022 IEEE International Conference on Acoustics, Speech and Signal Processing (<b>ICASSP 2022</b>)</em>.</p></li>
    </ul>
    </div>
    

    <div class="row">
        <div class="text-lg-start">
        <h2 class="section-heading text-uppercase">2021</h2></div>
    </div>
    <div class="row">
    <ul>
        <li><p>Ma, X., Wang, Y., Kan, M. Y., and Lee, W. S., (2021, October). <a href="archive/pdf/2019-2021/2021_AI-lyricist.pdf" target="_blank">AI-Lyricist: Generating Music and Vocabulary Constrained Lyrics</a>, <em>in 2021 ACM Multimedia Conference (<b>MM’21</b>)</em>. [<a href="archive/demo/stan/2021_AI-Lyricist_Imagine_lyrics_generated.pdf" target="_blank" style="color:#031d83;">lyrics demo</a>] [<a href="archive/demo/stan/2021_AI-Lyricist_Imagine_lyrics_generated.mp3" target="_blank" style="color:#031d83;">synthsis demo</a>]</p></li>
            
        <li><p>Huang, H., Liu, H., Wang, H., Xiao, C., &amp; Wang, Y. (2021, July). <a href="archive/pdf/2019-2021/2021_Neural-ODE-meets-a-sampling-free-latent-point-process.pdf" target="_blank">STRODE: Stochastic Boundary Ordinary Differential Equation</a>, in<em> International Conference on Machine Learning (<b>ICML 2021</b>)</em>. [<a href="https://github.com/Waffle-Liu/STRODE" target="_blank" style="color:#031d83;">code</a>] [<a href="archive/pdf/2019-2021/2021_ICML2021_STRODE_slides.pdf" target="_blank" style="color:#031d83;">slides</a>]</p></li>          
    </ul>
    </div>
    

    <div class="row">
        <div class="text-lg-start">
        <p class="text-center">[<a href="full_publication_list" style="color:#031d83;"  target="_blank"><em>see FULL publication list</em></a>]</p></div>
    </div>

    </div>
















    </div>
</section>
