<section class="bg-wight small-padding" id="Resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Educational Resources</h2>
                <hr class="primary">
            </div>
        </div>

    <div class="row">
    <ul>

        <li><p><b>[Analysis Demo]</b> A web application for performing DFT amplitude analysis and spectrogram viewer on audio files. [<a href="https://smc-chinese.comp.nus.edu.sg/" target="_blank" style="color:#031d83;">demo</a>]
        <li><p><b>[Visualization Demo]</b> A Web Application for Visualizing Nonlinear Transformations for Linear Separability in Classification [<a href="/linearly_separable" target="_blank" style="color:#031d83;">demo</a>]
              
    </ul>
    
    </div>



    </div>
</section>
