<section class="bg-faded small-padding" id="Team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Team</h2>
            <hr class="primary">
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/ye_wang.jpg"/>
                    <h4>Ye WANG</h4>
                    <p class="text-muted">Associate Professor</p>
                    <a class="btn" href="https://www.comp.nus.edu.sg/cs/people/wangye/" target="_blank"><i class="fa fa-link fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="mailto:wangye@comp.nus.edu.sg"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/stan_ma.png"/>
                    <h4>Xichu (Stan) Ma</h4>
                    <p class="text-muted">PhD Candidate</p>
                    <a class="btn" href="mailto:ma_xichu@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/wei_wei.jpg"/>
                    <h4>Wei WEI</h4>
                    <p class="text-muted">PhD Candidate</p>
                    <a class="btn" href="mailto:wei.wei@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/mingqian_shi.jpg"/>
                    <h4>Mingqian (Mick) SHI</h4>
                    <p class="text-muted">PhD Candidate</p>
                    <a class="btn" href="mailto:mingqian@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/yixin_wang.jpg"/>
                    <h4>Yixin WANG</h4>
                    <p class="text-muted">PhD Candidate</p>
                    <a class="btn" href="mailto:wangyixin@comp.nus.edu.sg"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://www.linkedin.com/in/yixin-wang-alice" target="_blank"><i class="fa fa-linkedin fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/hengguan_huang.jpg"/>
                    <h4>Hengguan HUANG</h4>
                    <p class="text-muted">PhD Candidate</p>
                    
                    <a class="btn" href="mailto:huang.hengguan@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://scholar.google.ca/citations?user=GQm1eZEAAAAJ&hl=en&oi=ao" target="_blank"><i class="fa fa-google-plus fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/hongfu_liu.png"/>
                    <h4>Hongfu LIU</h4>
                    <p class="text-muted">PhD Candidate</p>
                    <a class="btn" href="mailto:liu.hongfu@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://scholar.google.ca/citations?hl=en&user=6xFZDEcAAAAJ" target="_blank"><i class="fa fa-google-plus fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://www.linkedin.com/in/hongfu-liu-38585b184/" target="_blank"><i class="fa fa-linkedin fa-1x wow bounceIn"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/xiangming_gu.png"/>
                    <h4>Xiangming GU</h4>
                    <p class="text-muted">PhD Student</p>
                    <a class="btn" href="https://guxm2021.github.io/guxm.github.io/" target="_blank"><i class="fa fa-link fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="mailto:xiangming@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://scholar.google.com/citations?user=BkxEuIoAAAAJ&hl" target="_blank"><i class="fa fa-google-plus fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://www.linkedin.com/in/xiangming-gu-4734421b7/" target="_blank"><i class="fa fa-linkedin fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/longshen_ou.png"/>
                    <h4>Longshen OU</h4>
                    <p class="text-muted">PhD Student</p>
                    <a class="btn" href="http://oulongshen.xyz/" target="_blank"><i class="fa fa-link fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="mailto:oulongshen@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://www.linkedin.com/in/longshen-ou/" target="_blank"><i class="fa fa-linkedin fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/jingwei_zhao.JPG"/>
                    <h4>Jingwei ZHAO</h4>
                    <p class="text-muted">PhD Student</p>
                    <a class="btn" href="https://zhaojw1998.github.io/" target="_blank"><i class="fa fa-link fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="mailto:jzhao@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://scholar.google.ca/citations?user=5TYbGX4AAAAJ&hl=en" target="_blank"><i class="fa fa-google-plus fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://www.linkedin.com/in/jingweizhao1998/" target="_blank"><i class="fa fa-linkedin fa-1x wow bounceIn"></i></a>
                    <a class="btn" href="https://twitter.com/zhaojw1998" target="_blank"><i class="fa fa-twitter fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/danielle_ong.png"/>
                    <h4>Danielle (Dan Ning) ONG</h4>
                    <p class="text-muted">Master Student</p>
                    <a class="btn" href="mailto:Danielle.Odn@gmail.com"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="team-member">
                    <img class="center-block img-circle" src="files/team/xiao_liu.png" alt="..." />
                    <h4>Xiao LIU</h4>
                    <p class="text-muted">Master Student</p>
                    <a class="btn" href="mailto:liuxiao@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>
                </div>
            </div>



        </div>

    </div>
</section>