---
permalink: /alumni
---

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>SMC Lab | Alumni</title>
    </head>
  {% include head.html %}

  <body>
  {% include nav_sub.html %}
  <section class="bg-faded" id="Publication_List">
    <div class="container no-gutter">
        <div class="row"><p class="h1"></p></div>
        
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Alumni</h2>
            <hr class="primary">
        </div>


        <p class='text-justify'>We have advised students from a wide range of disciplines (computer science, electrical engineering, music, neural science) and across many education levels (undergraduate, masters, PhD students). Here are some of our previous concerts contributed by these passionate talents.</p>

        <div class="col-md-6">
            <p class="h4" style="color:#ed6502;"><b style="color:#031d83;">[2019.04]</b> NUS Computing Music Concert</p>
            <p class="text-center">
                <iframe width="480" height="270" src="https://www.youtube.com/embed/J06-Lc5lo1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </p>
        </div>
        
        <div class="col-md-6">
            <p class="h4" style="color:#ed6502;"><b style="color:#031d83;">[2018.08]</b> SMC Lab Concert</p>
            <p class="text-center">
                <iframe width="480" height="270" src="https://www.youtube.com/embed/qtKG_iBPI3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </p>
        </div>


        <div class="row">
            <div class="row"><p class="h1"></p></div>
            <div class="row"><p class="h1"></p></div>
            <div class="row"><p class="h1"></p></div>
            <div class="row"><p class="h1"></p></div>
        </div class="row">

        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Alumni List</h2>
            <hr class="primary">
        </div>


        <div class="row">
            <div class="text-lg-start">
                <h2 class="section-heading">Master Student</h2>
            </div>
            <ul>

                <li><p class="text-align"><b>Danielle ONG (2021-2022)</b> <a class="btn" href="mailto:Danielle.Odn@gmail.com"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>. Danielle completed her MComp capstone project and has secured a job opportunity. </p></li>

                <li><p class="text-align"><b>Xiao LIU (2020-2022)</b> <a class="btn" href="mailto:liuxiao@u.nus.edu"><i class="fa fa-envelope-o fa-1x wow bounceIn"></i></a>. Xiao defended his master thesis entitled <em>"Robust Melody Track Identification in Symbolic Music"</em> and has started working at A*STAR as a researcher. </p></li>

            </ul>

            More alumni info to be updated soon.

        </div>


        
    

</section>
  <footer class="bg-light text-center text-lg-start">
    {% include scripts.html %}
    {% include copyright.html %}
  </footer>
</html>


























