---
permalink: /concert_2023
---

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>SMC Lab | Concert 2023</title>
  </head>
  {% include head.html %}

  <body>
  {% include nav_sub.html %}
  <section class="bg-faded" id="Video_Page">
    <div class="container no-gutter">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sound & Music Computing for Human Health & Potential</h2>
          
        <h2 class="section-heading">Themed Concert on Nov 19, 2023</h2>
        <hr class="primary">
      </div>

      <div class="row small-padding" id="">
        <div class="col-md-5">
          <p></p>
          <img src="archive/concert/group_photo_2023.JPG" alt="Group Photo at Concert" width="450" height=auto class='center'></img>
        </div>

        <div class="col-md-7">
          <p class='text-justify'>In <a href="https://smcnus.comp.nus.edu.sg/" target="_blank" style="color:#0368ac;"><em>NUS Sound and Music Computing Lab</em></a>, it is a cherished tradition to hold a musical event each year, bringing students, staff, and faculty members together to celebrate the fulfillment of the semester. Our recent event — <b><em>Sound & Music Computing for Human Health & Potential (SMC4HHP) Themed Concert</em></b> has just taken place at NUS campus on Sunday, 19 November. It has been the 2nd year in a roll that we resume our musical tradition after the pandemic.</p>

          <p class='text-justify'>This concert is hosted as part of the fulfillment of <a href="https://nusmods.com/modules/CS4347/sound-and-music-computing" target="_blank" style="color:#0368ac;"><em> CS4347/5647 Sound and Music Computing</em></a>, our course module open to both undergraduate and postgraduate students. Many of our performers are from right there. Apart from music, we are also keen to demonstrating cutting-edge AI technology that empowers musicians to unlock their creative potential. Particularly, in this year, our concert is featured with a special demo track, where distinguished course projects from CS4347/5647 are invited for a live showcase. [<a href="archive/concert/2023_concert_poster.jpg" target="_blank" style="color:#0368ac;">poster</a>] [<a href="archive/concert/2023_concert_program_sheet.jpg" target="_blank" style="color:#0368ac;">program sheet</a>]</p>
        </div>
    </div>


      <div class="row" id="">
        <hr class="primary">
        <h2 class="text-center">Concert Program</h2>
        <hr class="primary">

        <div style="background-color:#f5ecee;">
          
          <p class='text-center'><b style="color:#e23f68;">----------------</b> <b>Opening Speech</b> <b style="color:#e23f68;">----------------</b></p>
          <p></p>
          <p class="text-center"><a href="#00_opening_speech" style="color:#0368ac;">Sound & Music Computing for Human Health & Potential (SMC4HHP) - Prof. Ye Wang</a></p>
                
          <p></p>
          <p class='text-center'><b style="color:#e23f68;">----------</b> <b>Concert</b> (scroll to view more) <b style="color:#e23f68;">----------</b></p>
          
          <ol style="width: auto; height: 180px; overflow: auto; margin-left: 35%">
            <li><p><a href="#01_city" style="color:#0368ac;">City of Tears - Piano Solo</a></p></li>
            <li><p><a href="#02_the_entertainer" style="color:#0368ac;">The Entertainer - Accordion Solo</a></p></li>
            <li><p><a href="#02_kakumei" style="color:#0368ac;">Kakumei Dualism - Violin Solo</a></p></li>
            <li><p><a href="#02_vathapi" style="color:#0368ac;">Vathapi Ganapathim Bhaje - Carnatic Flute & Tabla</a></p></li>
            <li><p><a href="#02_street" style="color:#0368ac;">Street where Wind Resides - Erhu & Piano</a></p></li>
            <li><p><a href="#06_valerie" style="color:#0368ac;">Valerie - Vocals & Band</a></p></li>
            <li><p><a href="#07_suddently" style="color:#0368ac;">Suddenly Miss You So Bad - Lab Research Showcase</a></p></li>
            <li><p><a href="#08_beach" style="color:#0368ac;">Beach - Lab Research Showcase</a></p></li>
            <li><p><a href="#09_salut" style="color:#0368ac;">Salut d'Amour - Piano Solo</a></p></li>
            <li><p><a href="#10_bwv" style="color:#0368ac;">BWV 1043 I: Vivace - Violins & Piano</a></p></li>
            <li><p><a href="#11_demo_1" style="color:#0368ac;">Symbolic Guitar Music Generation - Course Project Demo</a></p></li>
            <li><p><a href="#12_demo_2" style="color:#0368ac;">English Song Lyrics Generation - Course Project Demo</a></p></li>
            <li><p><a href="#13_demo_3" style="color:#0368ac;">Mandarin Speech Tone Evaluation - Course Project Demo</a></p></li>
            <li><p><a href="#14_demo_4" style="color:#0368ac;">Sing and Dancing Avatar Creation - Course Project Demo</a></p></li>
            <li><p><a href="#15_haunted" style="color:#0368ac;">Haunted - Vocals & Band</a></p></li>
            <li><p><a href="#16_kaze" style="color:#0368ac;">Kaze ni Naru - Guitar, Clarinet, & Band</a></p></li>
            <li><p><a href="#17_when" style="color:#0368ac;">When a Child is Born - Vocals, Piano, & Drum</a></p></li>
          </ol>
        </div>

        </div>
        <hr class="primary">
        


        <div class="row small-padding" id="00_opening_speech">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Opening]</b> Sound & Music Computing for Human Health & Potential</p>
        <p class='text-justify' style="text-indent: 40px">
          A wrap-up of the CS4347/5647 course and an opening speech for the concert by Prof. Ye Wang.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/2FtEbgQGG3c?si=SGYDvh-jLLDjvB8v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1FQ4y1t7kv" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>



        <div class="row small-padding" id="01_city">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-01]</b> City of Tears</p>
        <p class='text-justify' style="text-indent: 40px">
          Selected from adventure game <em>Hollow Knight</em>. Piano solo performance by Xian He.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/6Mp_rOyWBIs?si=52N7QaQS1S8xivMR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1i34y1w7Ye" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="02_the_entertainer">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-02]</b> The Entertainer</p>
        <p class='text-justify' style="text-indent: 40px">
          Music by Scott Joplin. Accordion solo performance by Jingwei Zhao.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Bs98XQF_bng?si=8oJSUKv4rjkB_iBx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1fu4y1w7cE" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="02_kakumei">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-03]</b> Kakumei Dualism</p>
        <p class='text-justify' style="text-indent: 40px">
          Music by T.M. Revolution. Violin solo performance by Longshen Ou.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/QtywGFDwzks?si=m5QBq4Ym2I7S12gJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1PN411M765" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="02_vathapi">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-04]</b> Vathapi Ganapathim Bhaje</p>
        <p class='text-justify' style="text-indent: 40px">
          A prayer song to the Hindu elephant god Ganesha, who is considered to be the remover of obstacles and brings good luck. Carnatic flute by Parashara Ramesh. Tabla by Lakshmanan.
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/uTOyE7uwHr4?si=paDuCFf283a7peXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV19z4y1c7rp" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="02_street">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-05]</b> Street Where Wind Resides</p>
        <p class='text-justify' style="text-indent: 40px">
          Music by Yukiko Isomura. Erhu by Lai Si Jin. Piano accompaniment by Wei Zeng.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Vv_nD5pvQss?si=NufRcJWO0OiaNVJH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV19u4y1w7Gh" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="06_valerie">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-06]</b> Valerie</p>
        <p class='text-justify' style="text-indent: 40px">
          Song by Amy Winehouse. Band performance by Junchuan Zhao (vocals), Wei Zeng (keyboard), Yuchen Wang (piano), Nic Wong (bass), Samuel Cox (drum), Qihao Liang (glockenspiel), and Jingwei Zhao (accordion).
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/fUPHn0KbtuY?si=oILaq1sovmHrrV_f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1AN411M7aJ" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="07_suddently">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-07]</b> Suddenly Miss You So Bad</p>
        <p class='text-justify' style="text-indent: 40px">
          Demo showcase of <a href="https://arxiv.org/abs/2310.16334" target="_blank" style="color:#0368ac;"><em>AccoMontage-3</em></a>, a state-of-the-art full-band accompaniment arrangement system. AI-collaborated arrangement based on the original music by Mayday. Demo presented by Junchuan Zhao and Jingwei Zhao.

        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/S_8AqkWJPKA?si=0EQYpoJ689AFAyre" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1kC4y1P7aE" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="08_beach">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-08]</b> Beach</p>
        <p class='text-justify' style="text-indent: 40px">
          Demo showcase of a singing voice synthesis (SVS) system currently in progress at the SMC Lab. Synthesis based on the original song by David Tao. Demo presented by Longshen Ou and Junchuan Zhao. 
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/5dhDzMNkP0U?si=-juxU0Hmm3-HXd3v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1v34y1w74m" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="09_salut">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-09]</b> Salut d'Amour</p>
        <p class='text-justify' style="text-indent: 40px">
          Music by Edward Elgar. Piano solo performance by Jingwei Zhao.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/lLqlm3pTgwk?si=kKbdOABcA-xe4A_b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1RN411T7pL" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="10_bwv">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-10]</b> BWV 1043 I: Vivace (Double Violin Concerto)</p>
        <p class='text-justify' style="text-indent: 40px">
          Music by Johann Sebastian Bach. Violin duet by Celine Hong and Yuchen Wang. Piano accompaniment by Jingwei Zhao.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/n47lsU5D23Y?si=T-xKz6y2eSeBdWGV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1EM411f7du" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="11_demo_1">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-11]</b> Symbolic Guitar Music Generation</p>
        <p class='text-justify' style="text-indent: 40px">
          Demon Track Showcase #1: Teaching Transformers musical theory by using mathematically-meaningful embedding. Course project by Nic Wong, Siwei Luo, Branson Lam, and Haoyuan Xu.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/wFqsDCCqpdo?si=dANXKeyAwObWEirS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV18w411P7Xw" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="12_demo_2">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-12]</b> English Song Lyrics Generation</p>
        <p class='text-justify' style="text-indent: 40px">
          Demon Track Showcase #2: XAI-Lyricist: Prosody-Guided English Song Lyrics Generation with Explainable Singability. Course project by Qihao Liang and Li Mian.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Eb2mNx040tI?si=g5HhQROS4TrcM7y5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1fu4y1w7Zz" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="13_demo_3">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-13]</b> Mandarin Speech Tone Evaluation</p>
        <p class='text-justify' style="text-indent: 40px">
          Demon Track Showcase #3: Mandarin Speech Tone Evaluation. Course project by Minghao Han, Yuhua Guo, Tianxiang Hu, and Zichen Xu.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/NFr8t23vqac?si=iZymV3nvz0xvKEVd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV18w411P7Ju" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="14_demo_4">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-14]</b> Sing and Dancing Avatar Creation</p>
        <p class='text-justify' style="text-indent: 40px">
          Demo Track Showcase #4: Singing & Dancing 3D Avatar Generation. Course project by Zenghao Chai, Han Meng, Yikun Ji, Jichen Sun, and Yiwen Wang.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/EA2RFr0ljvo?si=LbLhy4B4M9fbQu51" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV19u4y1w75L" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="15_haunted">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-15]</b> Haunted</p>
        <p class='text-justify' style="text-indent: 40px">
          Song by Taylor Swift. Band performance by Niharika Shrivastava (vocals), Wei Zeng (keyboard), Lai Si Jin (piano), Nic Wong (drum), Longshen Ou (guitar), and Jingwei Zhao (accordion).
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/B78BkDCxI2s?si=UhOwNgy0RHSXFQ6O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1EC4y1P76m" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="16_kaze">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-16]</b> Kaze ni Naru</p>
        <p class='text-justify' style="text-indent: 40px">
          Selected from animation movie <em>The Cat Returns</em>. Band performance by Longshen Ou (guitar), Stan Ma (clarinet), Anju Gopalkrishnan (ukulele), Yuang Shi (drum), Nic Wong (bass), and Dan Luo (piano).
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/pFF5H06GG8w?si=ZUzGE6ozIq4YkLB6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1QG411U7Sv" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>

        <div class="row small-padding" id="17_when">
          <p></p>
        </div>
        <p class="h3" style="color:#e23f68;"><b style="color:#0368ac;">[Concert-17]</b> When a Child is Born</p>
        <p class='text-justify' style="text-indent: 40px">
          Words and music by Fred Jacobson and Zacar. Arranged by Audrey Snyder. Choir performance by Peiling Lu (S), Han Meng (S), Niharika Shrivastava (A), Junchuan Zhao (T), Chetwin Low (T), Xian He (B), Jingwei Zhao (B), Yuchen Wang (piano), and Nic Wong (drum).
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/Gnzydr0hNjk?si=x75xjtH3XCHDNn9G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1jw411n7mg" target="_blank" style="color:#0368ac;">this link</a>, if the video above cannot be loaded. 
        </h4>
            
    </div>
    
</section>
  <footer class="bg-light text-center text-lg-start">
    {% include scripts.html %}
    {% include copyright.html %}
  </footer>
</html>
