---
permalink: /music_recommender_system_workshop_2023
---

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>SMC Lab | Music Recommender System Workshop 2023</title>
  </head>
  {% include head.html %}

  <body>
  {% include nav_sub.html %}
  <section class="bg-faded" id="Video_Page">
    <div class="container no-gutter">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Music Recommender Systems workshop at NUS</h2>
        <h1>&nbsp</h1>
        <hr class="primary">
      </div>

      <div class="row small-padding" id="">
        <p> </p>

        <p class='text-justify' style="text-indent: 40px">
          The Music Recommender Systems Workshop was a seminar event on 22 September 2023 at NUS School of Computing. We are honor to have <a href="https://www.ifs.tuwien.ac.at/~knees/" target="_blank" style="color:#031d83;">Prof. Peter Knees</a> from Vienna University of Technology, <a href="https://karlijnd.github.io/" target="_blank" style="color:#031d83;">Karlijn Dinnissen</a> from Utrecht University, and <a href="https://dougturnbull.org/index.php/bio/" target="_blank" style="color:#031d83;">Prof. Doug Turnbull</a> from Ithaca College to share their research. This seminar was chaired Prof Ye Wang and was open to faculties and students of School of Computing.
        </p>
        <hr class="primary">

    </div>


        <div class="row no-padding" id="00_Seminar_Talk">
          <p></p>
        </div>
        <p class="h3" style="color:#ed6502;"><b style="color:#031d83;">[01] </b>A mini-tutorial on music recommender systems</p>
        <p class='text-justify' style="text-indent: 40px">
          Presentation by <a href="https://www.ifs.tuwien.ac.at/~knees/" target="_blank" style="color:#031d83;">Peter Knees</a>, Vienna University of Technology.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/crpO0cbT3qM?si=Fd8McJa2kt2Z27Ie" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <!--<h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1He411A7sL" target="_blank">this link</a>, if the video above cannot be loaded. 
        </h4>-->



        <div class="row small-padding" id="01_Nandemonaiya">
          <p></p>
        </div>
        <p class="h3" style="color:#ed6502;"><b style="color:#031d83;">[02]</b> Item Provider Perspectives on Influence and Fairness of Music Streaming Platforms</p>
        <p class='text-justify' style="text-indent: 40px">
          Presentation by <a href="https://karlijnd.github.io/" target="_blank" style="color:#031d83;">Karlijn Dinnissen</a>, Utrecht University.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/5k01MaZmo3I?si=WhSdKTFkA9oYtAw_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <!--<h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1LA411R7xr" target="_blank">this link</a>, if the video above cannot be loaded. 
        </h4>-->

        <div class="row small-padding" id="02_Spring_Breeze">
          <p></p>
        </div>
        <p class="h3" style="color:#ed6502;"><b style="color:#031d83;">[03]</b> Popularity Degradation Bias in Local Music Recommendation</p>
        <p class='text-justify' style="text-indent: 40px">
          Presentation by <a href="https://dougturnbull.org/index.php/bio/" target="_blank" style="color:#031d83;">Doug Turnbull</a>, Ithaca College.
        </p>
        <p class="text-center">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/HnXv7opbXXg?si=ecv10HaKqnEu-N46" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
        <!--<h4 class="text-center" style="color:#85807d; font-family:Times New Roman">
          This video can be also accessed via <a href="https://www.bilibili.com/video/BV1q8411p7oc" target="_blank">this link</a>, if the video above cannot be loaded. 
        </h4>-->

        
            
    </div>
    
</section>
  <footer class="bg-light text-center text-lg-start">
    {% include scripts.html %}
    {% include copyright.html %}
  </footer>
</html>
