---
permalink: /research_demos
---

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>SMC Lab | Research Demos</title>
  </head>
  {% include head.html %}

  <body>
  {% include nav_sub.html %}
  <section class="bg-faded" id="Research_Demos">
    <div class="container no-gutter">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">SMC Lab Research Demos Page</h2>
        <hr class="primary">
      </div>

      <div class="row small-padding" id="slions2026">
        <p></p>
      </div>
      <p class="h3" style="color:#ed6502;"><b style="color:#031d83;">[2026.01] </b>SLIONS Trailer</p>
      <p class='text-justify' style="text-indent: 40px">
        This is a trailer of the SLIONS application, an AI-powered web application that supports independent learning of Mandarin Chinese pronunciation, done by a team from the Sound and Music Computing Lab. 
      </p>
      <p class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/cGiqo-Oj-bY?si=VMjPL_dk6hpm1C2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </p>

      <div class="row small-padding" id="mandala2026">
        <p></p>
      </div>
      <p class="h3" style="color:#ed6502;"><b style="color:#031d83;">[2026.01] </b>MANDALA Trailer</p>
      <p class='text-justify' style="text-indent: 40px">
        This demo is part of a conversational application, <em>MANDALA</em>, an AI-powered conversational system for learning Mandarin Chinese, focusing on realistic spoken interactions with instant feedback on pronunciation and grammar. The system adapts responses to the learner’s level and delivers clear visual and spoken guidance to support confident, natural language practice. This project was done by <a href="https://www.linkedin.com/in/felix-griebel/" target="_blank" style="color:#031d83">Felix Leon Griebel</a>, a Masters student from Sound and Music Computing Lab.
      </p>
      <p class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/Vdj7XE_XOAI?si=2XRSfdtd007kBQfq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </p>

      <div class="row small-padding" id="livepoem2025">
        <p></p>
      </div>
      <p class="h3" style="color:#ed6502;"><b style="color:#031d83;">[2025.08] </b>LivePoem Demo</p>
      <p class='text-justify' style="text-indent: 40px">
        These demos are a part of the paper “<a href="archive/pdf/2025/2025_LivePoem (IJCAI25 HAI).pdf" target="_blank">LivePoem: Improving the Learning Experience of Classical Chinese Poetry with AI-Generated Musical Storyboards</a>,” in <i>Proceedings of the Thirty-Fourth International Joint Conference on Artificial Intelligence (<b>IJCAI 2025</b>).</i> ijcai.org, 2025, by Q. Liang, X. Ma, T. Hopkins, and Y. Wang.      </p>
      <p class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/wXI0ITGkm04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </p>
      <p class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/COKSq3fguTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </p>
      <p class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/5aG1sn9X01s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </p>
      <p class="text-center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/ZaGJ4Ymh8ss" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </p>      
            
    </div>
    
</section>
  <footer class="bg-light text-center text-lg-start">
    {% include scripts.html %}
    {% include copyright.html %}
  </footer>
</html>
